$black-color: #000;
$white-color: #fff;
$primary-color: #f3b628;
$secondary-color: #2b2b2b;
$background-color: #f5f5f5;
$accent-color: #f02d34;
$banner-background-color: #dcdcdc;

$base-font-size:16px;
$navbar-height: 80px;

$small-screen: 400px;
$medium-screen: 1000px;