@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Aclonica&display=swap");

@import "_variables";
@import "_mixins";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: $base-font-size;
  font-weight: 200;
  color: $black-color;
  background-color: $white-color;
}

h1,
h2,
h3,
h4 {
  color: $black-color;
  line-height: 1.2;
  font-weight: 500;
}

a {
  text-decoration: none;
  color: inherit;
  @include transition(color);
}

li {
  list-style-type: none;
}

.container {
  max-width: 120rem;
  padding: 0 3rem;
  margin: auto;
  @include responsive($small-screen) {
    padding: 0;
    width: 100%;
  }
}

.navbar {
  @include display(space-between);
  margin-bottom: 4rem;
  align-items: center;
  padding-top: 1rem;
  height: $navbar-height;
  @include responsive($small-screen) {
    flex-direction: column;
    align-items: start;
    padding-bottom: 3rem;
    height: 120px;
    justify-content: none;
  }
}

.navbar__logo {
  font-weight: 400;
  font-size: 3rem;
  @include responsive($small-screen) {
    font-size: 2rem;
  }
}

.navbar a {
  font-size: 1rem;
  font-weight: 400;
  @include transition(color);
}

.navbar a:hover {
  border-bottom: 2px solid;
  color: $primary-color;
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 7rem;
  @include responsive($small-screen) {
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
}
@include responsive($small-screen) {
  .hero__banner__text {
    width: 50%;
    position: absolute;
    top: 20%;
  }
}
.navbar__left {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 10px;
  @include responsive($small-screen) {
    flex-direction: column;
    gap: 0;
    align-items: start;
  }
}

.hero__banner {
  padding: 100px 40px;
  background-color: $banner-background-color;
  border-radius: 15px;
  position: relative;
  height: 500px;
  line-height: 0.9;
  width: 100%;
  @include responsive($small-screen) {
    height: 200px;
  }
}

.hero__banner p {
  width: 500px;
  @include responsive($small-screen) {
    display: none;
  }
}

.hero__banner h1 {
  color: $white-color;
  font-size: 4em;
  text-transform: uppercase;
  @include responsive($small-screen) {
    font-size: 1rem;
  }
}

.hero__banner button {
  @include transition(transform);
  border-radius: 15px;
  padding: 10px 16px;
  background-color: $accent-color;
  color: $white-color;
  border: none;
  margin-top: 40px;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  font-weight: 800;
  @include responsive($small-screen) {
    font-size: 12px;
    margin-top: 30px;
  }
}

.hero__banner button:hover {
  transform: scale(1.1, 1.1);
}

.hero__banner__img {
  position: absolute;
  top: 0;
  right: 10%;
  width: 700px;
  height: 450px;
  @include responsive($small-screen) {
    width: 150px;
    height: 120px;
    top: 20%;
  }
}

.product__heading {
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.product__heading h2 {
  font-size: 40px;
  @include responsive($small-screen) {
    font-size: 20px;
  }
}

.product__container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-bottom: 5rem;
  @include responsive($small-screen) {
    flex-direction: column;
    padding-bottom: 2rem;
  }
}
@include responsive($small-screen) {
  .product__card {
    height: 300px;
  }
}
.product__card figure {
  background-color: $banner-background-color;
  border-radius: 20px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transform: scale(1, 1);
  @include transition(transform);
}

.product__card figure:hover {
  transform: scale(1.1, 1.1);
}

.product__card figcaption {
  padding-top: 10px;
}

.product__card figcaption:last-child {
  font-weight: 500;
}

.product__card img {
  height: 200px;
  width: 250px;
}

.about__container {
  background-color: $background-color;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  @include responsive($small-screen) {
    flex-direction: column;
  }
}

.about__text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 500px;
  position: relative;
  @include responsive($small-screen) {
    width: 100%;
    gap: 1rem;
    align-items: center;
    padding-bottom: 1rem;
  }
}
@include responsive($small-screen) {
  .about__container {
    img {
      width: 100%;
      height: 200px;
    }
  }
}
.about__text h2 {
  overflow: hidden;
  display: inline-block;
  border-right: 2px solid $secondary-color;
  white-space: nowrap;
  margin: 0;
  width: 300px;
  font-size: 3rem;
  animation: animationCycle 10s infinite;
  @include responsive($small-screen) {
    width: 100%;
    gap: 1rem;
    align-items: center;
    padding-top: 1rem;
  }
}

.newletter {
  padding-top: 4rem;
}

.newletter__content {
  padding: 40px;
  @include display(center);
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  background-color: $background-color;
  width: 100%;
}

.newletter__content h3 {
  font-size: 30px;
}

.newletter__content hr {
  width: 40px;
  @include responsive($small-screen) {
    display: none;
  }
}

.newletter input {
  width: 400px;
  height: 50px;
  padding: 20px;
  @include responsive($small-screen) {
    width: 80%;
    height: 30px;
  }
}

.newletter__content button {
  background-color: $secondary-color;
  color: $white-color;
  padding: 10px 30px;
  width: auto;
  border-radius: 0px;
  @include transition(background-color, color);
}

.newletter__content button:hover {
  background-color: $white-color;
  color: $secondary-color;
}

.footer {
  padding-top: 4rem;
}

.footer__container {
  background-color: $secondary-color;
  height: 500px;
  color: $white-color;
  @include display(center);
  flex-direction: column;
  gap: 3rem;
  align-items: center;
  @include responsive($small-screen) {
    height: 400px;
    gap: 1.5rem;
  }
}

.footer__container h3 {
  font-size: 40px;
  color: $white-color;
}

.footer__social__icon {
  display: flex;
  gap: 2rem;
  @include responsive($small-screen) {
    gap: 1rem;
  }
}

.footer__social__button {
  align-items: center;
  @include display(center);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: $primary-color;
  border: 2px solid $white-color;
  @include responsive($small-screen) {
    width: 30px;
    height: 30px;
  }
}

.footer__social__icon .fa {
  font-size: 20px;
  color: $white-color;
  @include responsive($small-screen) {
    font-size: 15px;
  }
}

.contact__info {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  @include responsive($small-screen) {
    font-size: 15px;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-columns: none;
    gap: 1rem;
  }
}
@include responsive($small-screen) {
  .footer span {
        width: 80%;
        text-align: center;
  }
}

.contact__details {
  margin-left: 30px;
  text-align: center;
}

.contact__info .fa {
  color: $primary-color;
}

@keyframes animationCycle {
  0%,
  100% {
    width: 0;
    border-color: transparent;
  }
  10% {
    width: 100%;
    border-color: transparent;
  }
  80% {
    width: 100%;
    border-color: transparent;
  }
  90%,
  100% {
    width: 0;
    border-color: $secondary-color;
  }
}

.about__text h2:hover {
  animation: none;
}
